<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings configSource="App.secret.config"/>
 <appSettings configSource="LoginInfo.secret.config"/>
</configuration>

<!-- 
connection strings should be in App.secret.config which is git ignored.
the secret.config should have connections callled devconn and liveconn.

userid and password should be in a file called LoginInfo.secret.config which is git ignored.
-->