<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings configSource="App.secret.config"/>
</configuration>

<!-- 
connection strings, userid and pasword should be in App.secret.config which is git ignored.
the secret.config should have connections callled devconn and liveconn.
-->